.Dashboard {
  background-color: #252836;
  height: 100vh;
  width: 220vh;
  color: white;
}

.hr::after {
  content: "";
  display: block;
  height: 1px;
  border-radius: 2px;
  background-color: #393c49;
  width: 800px;
  margin-top: 30px;
  margin-left: 50px;
}

.Card1 {
  border: 1px solid #1f1d2b;
  background-color: #1f1d2b;
  height: 160px;
  width: 230px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 12px;

  p {
    color: #50d1aa;
    margin-left: 70px;
    margin-top: -20px;
  }

  h4 {
    /* margin-top: 50px; */
    padding: 27px 16px;
    font-size: 30px;
    font-weight: 600;
  }
}

.Card1__image {
  padding: 16px;
}

.FaArrowUp {
  border: 1px solid #394c44;
  color: #50d1aa;
  height: 18px;
  width: 18px;
  background-color: #394c44;
  margin-left: 160px;
  border-radius: 50%;
  margin-top: -50px;
}

.Card2 {
  border: 1px solid #1f1d2b;
  background-color: #1f1d2b;
  height: 160px;
  width: 230px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 12px;

  p {
    color: #ff7ca3;
    margin-left: 70px;
    margin-top: -20px;
  }

  h4 {
    /* margin-top: 50px; */
    padding: 27px 16px;
    font-size: 30px;
    font-weight: 600;
  }
}

.Card2__image {
  padding: 16px;
}

.IoMdArrowDown {
  border: 1px solid #552e3c;
  color: #ff7ca3;
  height: 18px;
  width: 18px;
  background-color: #552e3c;
  margin-left: 150px;
  border-radius: 50%;
  margin-top: -50px;
}

.Card3 {
  border: 1px solid #1f1d2b;
  background-color: #1f1d2b;
  height: 160px;
  width: 230px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 12px;

  p {
    color: #50d1aa;
    margin-left: 70px;
    margin-top: -20px;
  }

  h4 {
    padding: 27px 16px;
    font-size: 30px;
    font-weight: 600;
  }
}

.Card3__image {
  padding: 16px;
}

.FaArrowUp {
  border: 1px solid #394c44;
  color: #50d1aa;
  height: 18px;
  width: 18px;
  background-color: #394c44;
  margin-left: 160px;
  border-radius: 50%;
  margin-top: -50px;
}

.Order__Report {
  background-color: #1f1d2b;
  height: 500px;
  width: 790px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 12px;

  h1 {
    padding: 24px;
    font-size: 20px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
}
.newhr::after {
  content: "";
  display: block;
  height: 1px;
  border-radius: 2px;
  background-color: #393c49;
  width: 790px;
  margin-top: 10px;
}

.Filter__Order {
  display: flex;
  gap: 12px;
  border: 1px solid #393c49;
  width: 150px;
  height: 50px;
  justify-content: center;
  padding-top: 10px;
  border-radius: 12px;

  h2 {
    font-size: 16px;
    font-weight: 400;
  }
}

.Filter__Order__card {
  margin-left: 580px;
  margin-top: -50px;
}

.Avatar_Image {
  margin-top: -100px;
  padding-left: 10px;
  margin-top: 20px;

  h3 {
    display: flex;
  }
}

.Avatar__Profile {
  display: flex;
  margin-block: -110px;
  margin-top: -50px;
}

.Profile__Name {
  margin-left: 200px;
  margin-top: 10px;

  span {
    display: flex;
    font-weight: 400;
    margin-top: 60px;
    margin-left: -140px;
  }
}

.Profile__Food {
  margin-left: 260px;
  margin-top: -300px;
}

.Profile__Food--Name {
  margin-top: -100px;
}

.Profile__Food--Name1 {
  margin-top: 70px;
}
.Profile__Food--Name2 {
  margin-top: 40px;
}

.Profile__Food--Name3 {
  margin-top: 40px;
}

.Profile__Food--Name4 {
  margin-top: 40px;
}

.Profile__Money {
  display: grid;
  margin-left: 490px;
  margin-top: -340px;

  a {
    margin-top: 62px;
  }
}

.Profile__Button {
  display: grid;
  margin-left: 660px;
  margin-top: -320px;

  button {
    margin-top: 50px;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    background-color: #324c4f;
    border: 1px solid transparent;
  }
}

.Most__Ordered {
  background-color: #1f1d2b;
  margin-top: -800px;
  margin-left: 900px;
  border-radius: 10px;
  height: 410px;
  width: 550px;

  h1 {
    padding: 40px;
    font-weight: 500;
    font-size: 24px;
  }
}

.Neewhr::after {
  content: "";
  display: block;
  height: 1px;
  border-radius: 2px;
  background-color: #393c49;
  width: 550px;
}

.Food {
  margin-left: 30px;
  margin-top: 10px;
  img {
    margin-top: 10px;
    height: 50px;
    width: 50px;
  }
}

.Food__img--Name {
  margin-left: 100px;
  margin-top: -220px;

  p {
    margin-top: 40px;
    color: white;
  }

  h6 {
    font-weight: 500;
    color: #abbbc2;
  }
}

.MostType__ofOrder {
  background-color: #1f1d2b;
  margin-top: 20px;
  margin-left: 900px;
  border-radius: 10px;
  height: 325px;
  width: 550px;

  h1 {
    padding: 27px;
    font-weight: 500;
    font-size: 24px;
  }

  h4 {
    margin-left: 310px;
    margin-top: -20px;
    font-weight: 400;
  }
}

.Circle {
  width: 180px;
  height: 180px;
  margin-top: 10px;
  margin-left: 50px;
}

.color1 {
  background-color: #ff7ca3;
  height: 20px;
  width: 20px;
  margin-left: 280px;
  margin-top: -170px;
  border-radius: 24px;
}
.color2 {
  background-color: #ffb572;
  height: 20px;
  width: 20px;
  margin-left: 280px;
  margin-top: 40px;
  border-radius: 24px;
}

.color3 {
  background-color: #65b0f6;
  height: 20px;
  width: 20px;
  margin-left: 280px;
  margin-top: 50px;
  border-radius: 24px;
}
