@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style-type: none;
}

.App {
  display: grid;
  grid-template-columns: 100px calc(100vw - 100px);
}
